html {
    min-height: 100%;
    position: relative;
}

li:hover {
    background-color: #FDC500;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu:hover > .dropdown {
    background-color: black;
}

.sub-item:hover {
    background-color: #FDC500;
}

body {
    background: url(../img/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    opacity: 90%;
}

a {
    text-decoration: none;
}