*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: rgb(31, 76, 85);
    text-align: center;
}

h1 {
    font-size: 0pt;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.card {
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: #FAB942 url('../img/question.gif') no-repeat center center / contain;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: rgb(31, 76, 85);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.match .front {
    background: rgb(31, 76, 85) !important;
}

#mensajeAcierto,
#mensajeError {
    margin-top: 30px;
    display: none;
    font-size: 20pt;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #4CAF50;
    /* Fondo verde */
    border: none;
    /* Sin borde */
    color: white;
    /* Texto blanco */
    padding: 15px 32px;
    /* Relleno */
    text-align: center;
    /* Centrar texto */
    text-decoration: none;
    /* Sin subrayado */
    display: inline-block;
    /* Bloque en línea */
    font-size: 16px;
    /* Tamaño de fuente */
    margin: 4px 2px;
    /* Margen */
    cursor: pointer;
    /* Cursor de puntero */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra */
}